.tableHeader{
  padding: 8px;
  background-color: #161718;
  color: #758041;
  min-width: 50px;
  border-radius: 8px;
  font-size: 12px;
}

.table-row{
  display: grid;
  gap: 2px;
  grid-template-columns: 3.5fr 2fr 2fr 2fr 2fr 3fr;
  margin-top: 8px;
  padding: 12px;
  border-bottom: 1px solid #303033;
}

.table-container{
  background-color: #212124;
  border-radius: 12px;
  padding: 16px;
  margin-top: 24px;
}

.action-cell{
  display: flex;
  gap: 6px;
}

.table-cell{
  font-size: 16px;
  color:7F8081
}